* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: rgba(35, 171, 225, 0);
}
body {
    display: flex;
    justify-content: top;
    align-items: top;
    height: 100vh;
    margin: 0;
  }
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 100px;
    background-image: linear-gradient(#033747,#012733);
}
nav .navbar {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: red;
    text-transform:uppercase ;
    letter-spacing: 1.5px;
    cursor: pointer;
    
}
nav ul {
    float: right;
    
}

nav  li {
    display: inline-block;
    
    list-style: none;
}

nav  li a {
    font-size: 15px;
    text-transform:uppercase ;
    padding: 0 30px;
    color: #e81515;
    
}

nav li  a:hover {
    background-color: #ddd;
    color: black;
}
/* Additional styles for icon links */
.icon-links {
  list-style: none;
  float: right;
  margin-right: 30px;
}

.nav-icon {
  font-size: 20px;
  text-decoration: none;
  color: #f7f1f1;
  margin: 0 10px;
}

.nav-icon:hover {
  color: #ddd;
}

  
  /* Add these styles to your existing CSS */

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 5px 10px;
  background-color: maroon;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.news-image img {
  width: 100%; /* Adjust the width as needed */
  max-height: 200px; /* Adjust the maximum height as needed */
  object-fit: cover;
  margin-bottom: 10px;
}

.news-content h3 {
  font-size: 18px;
  margin-top: 0;
}

.news-content p {
  margin-bottom: 10px;
}

.news-content a {
  display: block;
  color: maroon;
  text-decoration: underline;
}

#movie-search {
  display: none;
}

/* Show the search icon when the "anime" section is active */
#anime:target #movie-search {
  display: inline-block;
}

#main-content {
  background-image: url(https://i.giphy.com/media/l1Et7Qw1XjvunS0Io/giphy.webp);
  font-family: Arial, sans-serif;
  
  padding: 20px;
  
}
.colored-text {
  color: red; /* Change the color value to the color you want */
}







